<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
<!--处理登录业务-->
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.admin.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<!--处理学生列表业务-->
<servlet>
<servlet-name>StudentListServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentListServlet</servlet-name>
<url-pattern>/student_list</url-pattern>
</servlet-mapping>

<!--处理学生注册业务-->
<servlet>
<servlet-name>StudentRegisterServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentRegisterServlet</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

<!--处理学生删除业务-->
<servlet>
<servlet-name>StudentDeleteServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentDeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentDeleteServlet</servlet-name>
<url-pattern>/student_delete</url-pattern>
</servlet-mapping>


<!--处理学生明细业务-->
<servlet>
<servlet-name>StudentDetailServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentDetailServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentDetailServlet</servlet-name>
<url-pattern>/student_detail</url-pattern>
</servlet-mapping>


<!--处理学生去修改业务-->
<servlet>
<servlet-name>StudentToEditServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentToEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentToEditServlet</servlet-name>
<url-pattern>/student_toedit</url-pattern>
</servlet-mapping>

<!--处理学生去修改业务-->
<servlet>
<servlet-name>StudentEditServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentEditServlet</servlet-name>
<url-pattern>/student_edit</url-pattern>
</servlet-mapping>

<!--处理学生账号是否可用的业务-->
<servlet>
<servlet-name>StudentValidateAccountServlet</servlet-name>
<servlet-class>edu.nuist.sms.guyongqiang.action.student.StudentValidateAccountServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StudentValidateAccountServlet</servlet-name>
<url-pattern>/validateAccount</url-pattern>
</servlet-mapping>




</web-app>